@model List<HomeColumn>

@foreach (var item in Model)
{

    var scoll = "s" + item.LeftColumn;
    var scolm = "s" + item.MidColumn;
    var scolr = "s" + item.RightColumn;

    var mcoll = "m" + item.LeftColumn;
    var mcolm = "m" + item.MidColumn;
    var mcolr = "m" + item.RightColumn;

    var lcoll = "l" + item.LeftColumn;
    var lcolm = "l" + item.MidColumn;
    var lcolr = "l" + item.RightColumn;

    var platform = item.Screen.Name;


    @foreach (var detail in item.ColumnDetail)
    {
        if (detail.Column == "Left")
        {
            <div class="col @scoll @mcoll @lcoll dynamixBox-@platform">
                <img src="/tema/images/homepage/@detail.Background" />
                @if (!String.IsNullOrEmpty(detail.FrontTitle))
                {
                    <span>@detail.FrontTitle</span>
                }
                @if (!String.IsNullOrEmpty(detail.FrontText))
                {
                    <p>@detail.FrontText</p>
                }
            </div>
        }

        if (detail.Column == "Middle")
        {
            <div class="col @scolm @mcolm @lcolm dynamixBox-@platform">
                <img src="/tema/images/homepage/@detail.Background" />
                @if (!String.IsNullOrEmpty(detail.FrontTitle))
                {
                    <span>@detail.FrontTitle</span>
                }
                @if (!String.IsNullOrEmpty(detail.FrontText))
                {
                    <p>@detail.FrontText</p>
                }
            </div>
        }

        if (detail.Column == "Right")
        {
            <div class="col @scolr @mcolr @lcolr dynamixBox-@platform">
                <img src="/tema/images/homepage/@detail.Background" />
                @if (!String.IsNullOrEmpty(detail.FrontTitle))
                {
                    <span>@detail.FrontTitle</span>
                }
                @if (!String.IsNullOrEmpty(detail.FrontText))
                {
                    <p>@detail.FrontText</p>
                }
            </div>
        }
    }

}