@model ColumnDetail
@{
    Layout = "_Admin";
    ViewData["Title"] = "Kolon Detayı Düzenle";
}


<form name="updateColumnDetail" asp-action="UpdateColumnDetailForm" enctype="multipart/form-data" method="post" class="col s12 m10 l12 productform">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="Background" value="@Model.Background" />
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="input-field">
                <select name="HomeColumn" asp-items="@ViewBag.homeList" class="browser-default">
                    <option value="">Blok Seçiniz</option>
                </select>
            </div>
        </div>
        <br class="clearfix" />
        <div class="col s12 m4 l4">
            <div class="input-field">
                <label for="first_name">Başlık</label>
                <input type="text" name="FrontTitle" placeholder="Başlık" class="browser-default" value="@Model.FrontTitle" />
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="input-field">
                <label for="first_name">URL</label>
                <input type="text" name="Url" placeholder="URL" class="browser-default" value="@Model.Url" />
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="input-field">
                <select name="Column" class="browser-default">
                    <option value="">Kolon Seçiniz</option>
                    <option value="Left">Sol</option>
                    <option value="Middle">Orta</option>
                    <option value="Right">Sağ</option>
                </select>
            </div>
        </div>
        <br class="clearfix" />
        <hr />
        <div class="col s12 m12 l12">
            <div class="input-field">
                <label for="first_name">Arka Plan Resmi</label>
                <img src="~/tema/images/homepage/@Model.Background" width="100" /><br />
                
            </div>
        </div>
        <br class="clearfix" />
        <div class="col s12 m12 l12">
            <div class="input-field">
                <label for="first_name">Resmi Değiştir</label>
                <input type="file" name="Background" />
            </div>
        </div>
        <br class="clearfix" />
        <hr />
        <div class="col s12 m12 l12">
            <div class="input-field">
                <textarea name="FrontText" placeholder="Açıklama yazısı">@Model.FrontText</textarea>
            </div>
        </div>
    </div>
    <br class="clearfix" />
    <div class="col s12 m12 l12">
        <div class="input-field">
            <input type="submit" name="AddColumnDetail" value="Kolon Detayı Düzenle" />
        </div>
    </div>
</form>
@section Scripts{

    <script>
        $(document).ready(function () {

            $("[name='Column']").val("@Model.Column").prop("selected", true);

        })
    </script>

}